#intro {
  background: #f7f8fa;
  padding: 0.75rem 0;
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .info {
    display: flex;
    background: #ffffff;
    margin: 0.75rem 0.625rem 0.75rem 0;
    width: 30%;
    height: 11rem;
    i {
      font-size: 2rem;
      margin: 1rem 0.75rem 0 1rem;
      color: #76c5d6;
    }
    p {
      padding-top: 1rem;
      font-weight: bold;
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }
  }
}
